# https://blog.miguelgrinberg.com/post/running-a-flask-application-as-a-service-with-systemd
[Unit]
Description=RF Service Manager
After=network.target

[Service]
WorkingDirectory=/opt/signals_box_ctl
ExecStart=/opt/signals_box_ctl/venv/bin/gunicorn -b 0.0.0.0:8080 -w 4 wsgi:app
Environment="PATH=$PATH:/opt/signals_box_ctl/venv/bin"
Restart=always

[Install]
WantedBy=multi-user.target
